<carousel [isAnimated]="true">
  <slide>
    <img
      src="../../assets/images/carousel-3.jpg"
      alt="first slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Al Foundation</h3>
      <p>
        is focused on inspiring the next generation of kids Healthcare
        professionals.
      </p>
      <button class="btn btn-main">Donate Now</button>
    </div>
  </slide>
  <slide>
    <img
      src="../../assets/images/carousel-2.jpg"
      alt="second slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Al Foundation</h3>
      <p>
        is focused on inspiring the next generation of kids Healthcare
        professionals.
      </p>
      <button class="btn btn-main">Donate Now</button>
    </div>
  </slide>
  <slide>
    <img
      src="../../assets/images/carousel-3.jpg"
      alt="third slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Al Foundation</h3>
      <p>
        is focused on inspiring the next generation of kids Healthcare
        professionals.
      </p>
      <button class="btn btn-main">Donate Now</button>
    </div>
  </slide>
</carousel>
