<div class="container-fluid px-5">
  <h3>Related Topics</h3>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="img-container">
        <img class="topics-image" src="../../../assets/images/topics-img-1.jpg" alt="topics-img-1" />
        <div class="topic-title">
          <header>
            <p>Category</p>
            <h2 class="topic-header">New Artificial <br> Intelligence Apps</h2>
          </header>
          <span class="details-wrapper">View Details
            <svg xmlns="http://www.w3.org/2000/svg" width="26.125" height="11" viewBox="0 0 26.125 11">
              <path id="ic_trending_flat_24px" d="M29.125,13.5,23.625,8v4.125H3v2.75H23.625V19Z" transform="translate(-3 -8)" fill="#8dc043"/>
            </svg>
            
          </span>
          
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="img-container">
        <img class="topics-image" src="../../../assets/images/topics-img-2.jpg" alt="topics-img-2" />
        <div class="topic-title">
          <header>
          <p>Category</p>
          <h2 class="topic-header">Technology <br> Development Seminar</h2>
          </header>
          <span class="details-wrapper">View Details
            <svg xmlns="http://www.w3.org/2000/svg" width="26.125" height="11" viewBox="0 0 26.125 11">
              <path id="ic_trending_flat_24px" d="M29.125,13.5,23.625,8v4.125H3v2.75H23.625V19Z" transform="translate(-3 -8)" fill="#8dc043"/>
            </svg>
            
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="img-container">
        <img class="topics-image" src="../../../assets/images/topics-img-3.jpg" alt="topics-img-3" />
        <div class="topic-title">
          <header>
          <p>Category</p>
          <h2 class="topic-header">Next step Of IOt</h2>
          </header>
          <span class="details-wrapper">View Details
            <svg xmlns="http://www.w3.org/2000/svg" width="26.125" height="11" viewBox="0 0 26.125 11">
              <path id="ic_trending_flat_24px" d="M29.125,13.5,23.625,8v4.125H3v2.75H23.625V19Z" transform="translate(-3 -8)" fill="#8dc043"/>
            </svg>
            
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
